@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0}
body{font-family: "微软雅黑";}
ul,ol,li{list-style:none;}
b,strong{font-weight:100;}
em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:100;font-size:16px;}
a,u{text-decoration: none;}
input{outline:none;border:0;}
img{display:block;border:0;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow: hidden;visibility: hidden;}
.clearfix{zoom:1;}

.headercon,.logocon,.navcon,.mulucon,.xqcon,.xqmaincon,.showcon,.yqcon,.abUScon{width:1190px;margin:0 auto;}
.left{float:left;}
.right{float:right;}
/*head*/
#header{height:31px;background:#f5f4f4;border-bottom:1px solid #e6e6e6;}
.headercon{height:31px;font-size:12px;line-height:31px;color:#73796b;}
.blank{color:#3c3638;font-weight:900;}
.red{color:#de332c;font-weight:900;margin-left:18px;}
.u{margin-top:9px;margin-left:31px;}
.u li{float:left;height:12px;padding:0 12px;}
.u li:first-child{border-right:1px solid #73796b;}
.a1,.a2{font-size:12px;color:#7d7f7a;line-height:12px;}
.headerRight span{display:block;float:left;margin-right:16px;}
.headerRight em{float:left;margin-right:16px;cursor:pointer;}
.arrow{padding-right:10px;background:url(../img/arr.png) no-repeat right center;}
.headerRight span{cursor:pointer;}
.headerRight span:hover{background:white;}
.me{position:relative;}
.me em{display:none;position:absolute;width:84px;background:white;text-align:center;}
.me em a{font-size:12px;color:#7d7f7a;}
.me:hover em{display:block;}

.weixin{position:relative;}
.weixin em{position:absolute;display:none;}
.weixin:hover em{display:block;}

.app{position:relative;}
.app em{position:absolute;display:none;}
.app:hover em{display:block;}
/*logo*/
.logocon{height:119px;}
.logocon form{width:586px;height:34px;border:2px solid #da0308;margin-top:30px;}
.logocon form select{width:57px;height:34px;float:left;border:0;}
.sousuo{width:462px;height:34px;float:left;}
.btn{width:67px;height:34px;float:left;background:#da0308;font-size:14px;color:#ffffea;cursor:pointer;}
.about{font-size:12px;line-height:12px;color:#5e635c;margin-top:8px;}
.about span{margin-right:14px;cursor:pointer;}
.about span:hover{color:#dc363a;}
.about span:first-child{color:#dc363a;}
h1{padding-top:30px;margin-right:26px;}
.img1{margin-top:30px;margin-right:30px;}
.img2{margin-top:24px;}
/*nav*/
#nav{border-bottom:1px solid #d00620;}
.navcon{height:35px;position:relative;}
.list{width:200px;position:absolute;top:0;left:0;}
.list li:first-child{width:186px;padding-left:14px;height:37px;background:#dd0208;font-size:16px;line-height:37px;position:absolute;top:0;left:0;z-index:9999;}
.list li:first-child a{color:white;padding-left:30px;background:url(../img/list.png) no-repeat left center;}
.listMenu{width:200px;height:480px;background:#3e4851;position:absolute;top:37px;left:0;
		z-index:9999;padding-top:6px;padding-bottom:4px;display:none;}
.listMenu dl{width:180px;height:79px;border-bottom:1px solid #313b44;padding-left:20px;}
.listMenu dl:last-child{border:0;}
.listMenu dl dt{padding:19px 0 12px;}
.listMenu dl a{font-size:14px;line-height:14px;color:#edebf0;padding:3px 4px;display:inline-block;}
.listMenu .tebie{color:#3e4851;background:white;border-radius:2px;}
.listMenu>div{position:absolute;left:200px;top:0;width:750px;height:490px;display:none;}
.listMenu>div .left{width:530px;height:490px;background:white;padding:0 20px;}
.listMenu>div .right{width:180px;height:490px;background:#ccc;font-size:12px;}
.listMenu>div .right p {height:40px;line-height:40px;text-align:center;}
.listMenu>div .left p{font-size:14px;line-height:60px;border-bottom:1px solid black;}
.listMenu>div .left table{width:530px;}
.listMenu>div .left table a{font-size:12px;line-height:20px;color:#5e635c;}
.listMenu>div .left table a:hover{color:#dc363a;}
.navlist{margin-left:200px;}
.navlist li{float:left;}
.navlist li a{margin:0 40px;font-size:14px;line-height:35px;color:#38364c;}
.navlist li a:hover{color:#f30c36;}
.navlist .index{color:#f30c36;}
/*mulu*/
#mulu{height:56px;background:#f5f5f5;}
.mulucon{height:56px;background:#fff;}
.mulucon p{font-size:12px;line-height:56px;padding-left:20px;}
.mulucon p a{color:#646369;}
.mulucon p span{font-weight:900;}
.mulucon p a:hover{color:red;}
/*xqcon*/
#xq{height:525px;background:#f5f5f5;}
.xqcon{height:524px;background:#fff;border-bottom:1px solid #ddd;}
.xqL{width:352px;height:525px;margin-left:20px;margin-right:53px;}
.fdj{width:352px;height:428px;}
.sImg{width:350px;height:350px;border:1px solid #ccc;position:relative;
	background:url(../img/fdjs1.jpg) no-repeat;
	background-size:350px 350px;cursor:move;}
.bImg{padding-top:12px;}
.bImg li{width:54px;height:54px;float:left;margin-right:16px;cursor:pointer;}
.bImg li img{width:50px;height:50px;border:2px solid #fff;}
.lImg{width:350px;height:350px;background:#ccc;position:absolute;left:360px;
	background:url(../img/fdjs1.jpg) no-repeat;
	background-size:700px 700px;display:none;}
.mask{width:175px;height:175px;position:absolute;background:#ccc;opacity:.3;
	display:none;}
.lb{height:69px;padding-top:28px;}
.shoucang{display:block;height:17px;}
.shoucang i{display:inline-block;width:17px;height:15px;float:left;margin-right:5px;
	background:url(../img/xqjl.png) no-repeat 0 -118px;}
.shoucang a{display:block;height:17px;font-size:12px;line-height:17px;color:#030300;float:left;}
.fenxiang i{display:inline-block;height:16px;font-size:12px;line-height:16px;}
.fenxiang a{display:inline-block;width:16px;height:16px;}

.xqR{width:490px;height:525px;}
.xqRT{width:490px;height:152px;border-bottom:1px dashed #cbcad0;}
.xqRT h2{height:18px;font-size:18px;line-height:18px;color:#1f2219;}
.js{height:14px;font-size:14px;line-height:14px;color:#f70000;margin-top:10px;}
.t{width:490px;height:56px;background:url(../img/tbg.jpg) no-repeat;margin-top:10px;}
.t1{width:50px;height:56px;float:left;text-align:right;font-size:16px;line-height:56px;color:#646265;}
.t2{display:block;height:31px;float:left;font-size:26px;padding:0 20px 0 10px;margin-top:13px;
	color:#ee3e1b;border-right:1px dotted #a49e9e;}
.b{height:21px;padding-top:10px;}
.b li{height:21px;float:left;padding:0 29px;border-right:1px solid #9b999a;font-size:12px;line-height:21px;}
.b li:last-child{border-right:0;}
.b li i{margin-left:12px;color:#e32f30;}
.bpj{cursor:pointer;}

.xqRM{height:159px;width:490px;border-bottom:1px dashed #cbcad0;padding-top:18px;}
.xqRM p span{font-size:12px;margin-right:20px;color:#676e66;}
.p1{height:20px;font-size:12px;line-height:20px;margin-bottom:28px;}
.p1 i{display:inline-block;width:39px;height:20px;text-align:center;margin-right:25px;color:white;
	background:url(../img/xqjl.png) no-repeat 0 -20px;}
.p1 em{color:#ff002a;}
.p2,.p3{font-size:12px;line-height:12px;color:#2d2c2a;}
.xqRM .p3{height:26px;line-height:26px;margin:23px 0;}
.p4{font-size:12px;line-height:12px;color:#67605a;}
.p4 i{color:#d33d3c;cursor:pointer;}

.pb1{height:26px;padding-top:16px;margin-bottom:32px;}
.pb1 i{display:inline-block;height:26px;font-size:14px;line-height:26px;color:#5f6257;margin-right:20px;}
.pb1 span{display:inline-block;width:30px;height:24px;border:1px solid #c3c3c3;
		text-align:center;margin-right:3px;}
.pb2 a{display:inline-block;background:pink;margin-right:50px;
	border-radius:4px;font-size:20px;text-align:center;}
.pb2 a:first-child{width:154px;height:48px;line-height:48px;background:#ff4d50;color:#fffcf6;}
.pb2 a:last-child{width:150px;height:44px;line-height:44px;border:2px solid #ff4e4e;color:#ff4e4e;}
.hb,.gou{width:25px;height:25px;display:inline;margin-top:13px;margin-right:5px;vertical-align:top;}
/*xqmain*/
.xqmaincon{min-height:1870px;_height:1870px;padding-top:15px;}
.xqmainR{padding-top:2px;margin-left:30px;width:910px;}
.xqnavBox{width:910px;height:58px;}
.xqnav{width:908px;height:56px;border:1px solid #cbcad0;background:#fff;}
.xqnav li{float:left;}
.xqnav li a{display:block;font-size:16px;line-height:56px;padding:0 24px;color:#000;}
.xqnav li a i{color:#3254a7;margin-left:5px;}

.pjzx{display:none;}
/*show*/
#show{height:108px;background:#f8f8f8;border-bottom:1px solid #d6d6d6;}
.showcon{height:76px;padding-top:32px;}
.showcon div{width:182px;height:50px;background:url(../img/jingling.png) no-repeat;float:left;margin-right:16px;}
.showcon .show2{background-position:-244px 0;}
.showcon .show3{background-position:-484px 0;}
.showcon .show4{background-position:-736px 0;}
.showcon .show5{background-position:-974px 0;}
/*yq*/
#yq{height:224px;background:#f3f3f3;}
.yqcon{height:224px;}
.yqL{width:130px;padding-top:40px;margin-right:70px;}
.yqL a{display:block;margin-bottom:15px;}
.yqL img{display:inline-block;}

.yqC{padding-top:33px;}
.yqC ul{margin-right:70px;}
.yqC .yqc2{margin-right:100px;}
.yqC h4{font-size:14px;line-height:38px;font-weight:900;color:#433937;}
.yqC li a{font-size:12px;line-height:24px;color:#5a5f5b;}
.yqC li a:hover{color:#dc363a;}

.yqR{padding-top:26px;padding-right:15px;}
.yqR dl{text-align:center;width:88px;margin-right:22px;}
.yqR dt{font-size:14px;line-height:34px;font-weight:900;}
.yqR dd{font-size:12px;line-height:12px;color:#626166;padding-top:90px;}
.sjzj dd{background:url(../img/mob.jpg) no-repeat top center;}
.zjwx dd{background:url(../img/wx.jpg) no-repeat top center;}
/*abUS*/
#abUS{height:39px;background:#313131;}
.abUScon{height:39px;}
.abUScon ul{width:588px;height:15px;text-align:center;padding-top:12px;margin:0 auto;}
.abUScon li{float:left;padding:0 17px;border-right:1px solid #fffaf4;height:15px;}
.abUScon .lastli{border-right:0;}
.abUScon li a{float:left;font-size:12px;color:#fffaf4;line-height:15px;}
/*bottom*/
.bottomcon{width:1263px;height:90px;text-align:center;margin:0 auto;padding-top:10px;}
.bottomcon p{font-size:12px;color:#575c5f;}
.bottomcon .lastp{padding:8px 0;}
.cx{width:714px;margin:0 auto;text-align:center;}
.cx a{float:left;margin-right:5px;}
.cx a img{display:block;width:114px;height:41px;}
/*side*/
.sidecon{width:40px;height:420px;margin:auto 0;padding-top:150px;text-align:center;position:relative;}
.sidecon li{width:40px;height:40px;cursor:pointer;}
.sidecon li i{display:block;width:20px;height:20px;}
.user{margin:0 10px;background:url(../img/jingling.png) no-repeat -1403px -26px;position:relative;top:10px;}
.sidecon .shopCart{height:150px;}
.cart{margin:0 10px;background:url(../img/jingling.png) no-repeat -1428px 0;position:relative;top:10px;}
.shopCart p{margin-top:5px;color:#e8e8e8;position:relative;top:20px;}
.shopCart em{display:block;width:20px;height:20px;background:red;border-radius:50%;position:relative;top:20px;left:10px;}
.hongbao{margin:0 10px;background:url(../img/jingling.png) no-repeat -1428px -26px;position:relative;top:10px;}
.xin{margin:0 10px;background:url(../img/jingling.png) no-repeat -1455px 0;position:relative;top:10px;}
.biao{margin:0 10px;background:url(../img/jingling.png) no-repeat -1455px -26px;position:relative;top:10px;}
.kefu{color:#e8e8e8;}
.sidebottom{display:block;width:40px;height:40px;position:absolute;right:0;bottom:0;cursor:pointer;}